/*-----ALT------*/
* {
    margin: 0; padding: 0; 
}

mark{
    background-color: rgb(255, 255, 155);
}

/*
html{
    margin: 0.8% 0.8%;
    background-color: rgb(233, 233, 233);
}
*/

/*
@media(max-width: 1000px){
    html{
        margin: 2% 2%;
    }
}
*/
/*----------FONTS------------*/
p{
    font-family: 'inconsolata';
}

h1{
    font-family: 'oswald';
    font-weight: 300;
    font-size: 2.25em;
}

h3{
    font-family: 'oswald';
    font-weight: 400;
    font-size: 1.25em;
}

ul{
    font-family: 'oswald';
    font-weight: 300;
    font-size: 1.75em;
}

/*------------linje der adskiller sektioner---------*/

hr.linebreaker{
    border-top: 3px solid #dbdbdb;
    width: 90%;
    margin: auto;
    align-items: center;
}

/*------------HEADER--------------*/

nav{
    display: flex;
    padding: 1.5% 2%; /*størrelse på heading!!!!*/
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav img{
    width: 125px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px;
    font-family: 'inconsolata';
}

.nav-links a:hover{
    color: rgb(206, 206, 206);
}

.nav-links a:focus{
    color: rgb(206, 206, 206);
}

nav .fa{
    display: none;
}

@media(max-width: 700px){

    .nav-links ul li::after{
        height: 0px;
        transition: 0s;
    }

    .nav-links{
        position: absolute;
        background: rgb(255, 255, 255);
        height: 100vh;
        width: 170px;
        top: 0;
        right: -200px;
        text-align: center;
        z-index: 2;
        transition: 0.8s;

    }

    nav .fa{
        display: block;
        color: #ffffff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 15px 25px;
    }

    .nav-links li{
        margin-bottom: 20px;
    }
    html, body {overflow-x: hidden;}

    nav .fa-xmark{
        color: black;
        text-align: left;
    }

    .nav-links ul li a{
        color: black;
    }
}



/*-------------BODY---------------*/

/*------------Front Page----------*/

/*section*/
.baggrundsBillede{
    width: 100%;
    background-image: url(Billeder/baggrundsbillede.jpg);
    background-size: cover;
    height: 100vh;
    box-shadow: inset 0 0 0 2000px rgba(149, 151, 121, 0.55);
    overflow: hidden;
    background-position: center;
    
}

/*tekst midt på skærmen*/
.tekstIndex{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.tekstIndex h1{
    font-family: 'Oswald';
    font-size: 40px;
    font-weight: 300;
    color: white;
}

.tekstIndex h3{
    font-family: 'oswald';
    font-weight: 100;
    word-spacing: 10px;
}


/*--------------------Side 2---------------*/

/*section*/
.side2{
    margin: 0% 15%;
    background-color: rgb(255, 255, 255);
}

/*section hvid baggrund*/
.side2hvid{
    background-color: rgb(255, 255, 255);
}


/*box med book online, facebook og insta logo*/
.socialeMedier{
    display: flex;
    margin: auto;
    width: 90%;
    padding: 10px 0px 30px;
}

/*box med insta- og facebook-logo*/
.socialeMedierLogo{
    flex: 1;
    text-align: right;
    align-items: center;
}

.socialeMedierLogo ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 0px 0px 20px;
    position: relative;
}

.socialeMedierLogo ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
}


.bookOnline h1{
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-family: 'inconsolata';
    padding: 14px;
    border: 1px solid black;
}

.bookOnline a{
    text-decoration: none;
}

@media(max-width: 700px){
    .socialeMedier{
        width: 95%;
    }
}

/* tekstbox "Let us Introduce ourselves" */
.tekstbox1{
    width: 90%;
    margin: auto;
    align-items: center;
}

.tekstbox1 h1{
    font-family: 'oswald';
    font-weight: 300;
    font-size: 2.25em;
    padding: 20px 0px 10px;
}

.tekstbox1 p{
    line-height:30px;
    padding: 0px 0px 30px;
    text-align: justify;
}

/* så der ikke er margin i siderne på mobil*/
@media(max-width: 1000px){
    .side2{
        margin: 0% 0%;
    }
    .tekstbox1{
        width: 90%;
    }
}

/* box med åbningstider */

.åbningstiderne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: auto;
    line-height: 3.25em;
    padding: 20px 0px;
}

.åbningstiderne p{
    font-family: 'oswald';
    font-weight: 300;
    font-size: 1.75em;
}

.rightÅbning{
    text-align: right;
}


@media (max-width: 450px) {
    .åbningstider{
        width: 90%;
        align-items: center;
    }
  }

/* sektion med medarbejdere */
.ansatte{
    width: 90%;
    margin: auto;
}

.overskriftansatte h1{
    padding: 20px 0px;
}

.overskriftansatte p{
    padding: 0px 2px 10px;
}

.billederogtekstrække{
    display: flex;
}

.billedogtekstkolonne{
    flex-basis: 45%;
    max-width: 400px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.billedeansat{
    padding: 15px;
}

.billedeansat img{
    width: 100%;
    height: auto;
}

.tekstkolonne h3{
    text-align: center;
    padding: 0px 0px 10px;
}

.tekstkolonne p{
    line-height: 25px;
    text-align: justify;
    padding-bottom: 20px;
}

@media (max-width: 750px) {
    .billederogtekstrække{
        flex-direction: column;
    }
  }

.featuredProjects{
    width: 100%;
    margin: auto;
    align-items: center;
}

.featuredProjects h1{
    padding: 20px 0px;
}

.featuredProjects p{
    line-height: 30px;
    text-align: justify;
    padding-bottom: 10px;
}

.projectRow{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2% 0%;
}

.projectRow img{
    width: 100%;
    height: auto;
}

.projectColumn{
    flex-basis: 24%;
    width: 100%;
}

@media (max-width: 1250px) {
    .projectColumn {
      flex-basis: 49.5%;
    }
  }

@media (max-width: 650px) {
    .projectColumn {
        flex-basis: 100%;
    }
}

@media (max-width: 1000px) {
    .featuredProjects{
        width: 90%;
    }
}

.current-link {
    color:#ff5100;
}

/*-------------FOOTER--------------*/

.footer{
    text-align: center;
    padding: 0px 0px 10px;
    margin-top: 0px;
}
